{% extends "base.html" %}

{% block conteudo %}

<body>
    <div>
        <br>
        <h1>Entre em contato</h1>
        <br>
        <p class="corpo">Lorem <i>ipsum dolor</i> sit <b>amet</b>, consectetur adipiscing elit. Ut nec risus at lectus consectetur suscipit vel id tellus. Donec consequat metus vulputate lectus molestie, in elementum lectus interdum. Sed vel congue nunc. Proin lobortis rhoncus ipsum nec pretium. Integer vel nulla turpis. Aenean at molestie nisi. Vivamus a gravida urna. Etiam diam tortor, tincidunt sed mattis vitae, sollicitudin scelerisque nisl. Integer nec dignissim dui. Vivamus fermentum ullamcorper nisi eget sagittis. Cras fringilla enim vel condimentum cursus. Duis vitae ex non augue rhoncus consectetur. Mauris elementum neque a sapien elementum finibus. Cras malesuada mauris id est ornare, laoreet posuere purus ultricies. In pretium iaculis varius.</p>
    </div>
    <br>
    <hr> 
    <br>

    <!--Informações-->
    <div>
        <form>
            Seu e-mail:<br>
            <input type="email" name="email" required> <br><br>
            Assunto:<br>
            <input type="text" name="assunto" required> <br><br>
            Descrição:<br>
            <textarea name="descricao" rows="3" cols="20"></textarea> <br>
            <input type="submit" name="Enviar" value="Enviar"><br>
        </form>
    </div>

</body>

{% endblock %}

</html>