{% extends "base.html" %}

{% block conteudo %}

<body>
    <!--Corpo-->
    <div>
        <h1>Quem somos</h1>
        <p class="corpo">Lorem <b>ipsum dolor</b> sit <i>amet</i>, consectetur adipiscing elit. Ut nec risus at lectus consectetur suscipit vel id tellus. Donec consequat metus vulputate lectus molestie, in elementum lectus interdum. Sed vel congue nunc. Proin lobortis rhoncus ipsum nec pretium. Integer vel nulla turpis. Aenean at molestie nisi. Vivamus a gravida urna. Etiam diam tortor, tincidunt sed mattis vitae, sollicitudin scelerisque nisl. Integer nec dignissim dui. Vivamus fermentum ullamcorper nisi eget sagittis. Cras fringilla enim vel condimentum cursus. Duis vitae ex non augue rhoncus consectetur. Mauris elementum neque a sapien elementum finibus. Cras malesuada mauris id est ornare, laoreet posuere purus ultricies. In pretium iaculis varius.</p>
        <h1>5 motivos para estudar</h1>
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização</li>
        </ol>
    </div>
    <br>
    <hr>
    <!--Texto-->
    <div>
        <h1>Objetivos</h1>
        <p class="corpo">Lorem <b>ipsum dolor</b> sit <i>amet</i>, consectetur adipiscing elit. Ut nec risus at lectus consectetur suscipit vel id tellus. Donec consequat metus vulputate lectus molestie, in elementum lectus interdum. Sed vel congue nunc. Proin lobortis rhoncus ipsum nec pretium. Integer vel nulla turpis. Aenean at molestie nisi. Vivamus a gravida urna. Etiam diam tortor, tincidunt sed mattis vitae, sollicitudin scelerisque nisl. Integer nec dignissim dui. Vivamus fermentum ullamcorper nisi eget sagittis. Cras fringilla enim vel condimentum cursus. Duis vitae ex non augue rhoncus consectetur. Mauris elementum neque a sapien elementum finibus. Cras malesuada mauris id est ornare, laoreet posuere purus ultricies. In pretium iaculis varius.</p>
    </div>

</body>

{% endblock %}

</html>